<div class="container">
<div class="burger hero">
  <div class="burger-image">
    <h1 class="burger-title-first">Boots</h1>
    <img src="https://www.lucchese.com/media/cache/24/bd/24bdf81e45bd58ee063abb8d4f8ab59a.jpg" width="100%">
  </div>
    
    <h1 class="burger-title-last">For Less</h1>
</div>  

<div class="row">
  <div class="col-md-8">
    {{#each boots}}
    <div class="row">
      <div class="col-md-4">
        <a href="{{this.link}}" target="_blank"><img src="{{this.image}}" width="100%"></a>
      </div>
        <div class="col-md-8">
          <div id="boots">
              <h4 class="boots-name">{{this.title}}</h4>
              <a href="{{this.link}}" target="_blank"><p>View More</p></a>
              <p>Price: {{this.price}}</p>
              {{!-- <p>Current Bids: {{this.bid}}</p> --}}
              {{!-- <form action="/{{this.id}}" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button type="submit" id="devour-button" name="devour-button">Devour It</button>
              </form> --}}
          </div>
      </div>
    </div>
  {{/each}}
  </div>

  <div class="col-md-4">
  <h3>Comment on your favorites:</h3>
    <form class="burger-form" action="/" method="POST">
      <div class="form-group">
        <label for="burger-input">Enter the burger you'd like to try here:</label>
        <input type="text" class="form-control" id="burger-input" name="burger_name" placeholder="Enter burger name here">
      </div>
      <button type="submit" id="submit-burger" name="submit-burger">Add Burger</button>
    </form> 
    </div> 
</div>  