<div class="container">
<div class="burger hero">
  <div class="burger-image">
    <h1 class="burger-title-first">Boots</h1>
    <img src="https://www.lucchese.com/media/cache/24/bd/24bdf81e45bd58ee063abb8d4f8ab59a.jpg" width="100%">
  </div>
    
    <h1 class="burger-title-last">For Less</h1>
</div>  

<div class="row">
  <div class="col-md-8">
    <div class="option-toggle">
        <div class="panel panel-default">
          <div class="panel-heading">Filter Options</div>
            <div class="panel-body">
                <div class="form-group filter-options">
                  <button type="button" class="btn btn-secondary" name="women" id="filter">Women's</button>
                  <button type="button" class="btn btn-secondary filter" name="men" id="filter">Men's</button>
                </div>
                <div class="form-group">
                  <label for="burger-input">Shoe Size:</label>
                  <input type="text" class="form-control size-options" id="size-options" name="size-options" placeholder="Enter Size Here">
                </div>
                <button type="submit" id="filter-search" name="filter-search">Search</button>
            </div>
      </div>
      {{!-- <form class="burger-form" action="/" method="POST">
      </form>  --}}
    </div>
    {{#each boots}}
    <div class="row">
      <div class="col-md-4">
        <a href="{{this.link}}" target="_blank"><img src="{{this.image}}" width="100%"></a>
      </div>
        <div class="col-md-8">
          <div id="boots">
              <h4 class="boots-name">{{this.title}}</h4>
              <a href="{{this.link}}" target="_blank"><p>View More</p></a>
              <p>Price: {{this.price}}</p>
          </div>
      </div>
    </div>
  {{/each}}
  </div>

  <div class="col-md-4">
  <h3>Comment on your favorites:</h3>
    <form class="burger-form" action="/" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" id="burger-input" name="size" placeholder="Enter Size Here">
      </div>
      <button type="submit" id="submit-burger" name="submit-burger">Add Burger</button>
    </form> 
    </div> 
</div>  
