<div class="container">
    {{> nav}}

<div class="row">
  <div class="col-md-12">
     {{#each boots}}
     {{#if this.watch}}
    <div class="row">
      <div class="col-md-4">
        <a href="{{this.link}}" target="_blank"><img src="{{this.image}}" width="100%"></a>
      </div>
        <div class="col-md-8">
          <div id="boots">
              <h4 class="boots-name">{{this.title}}</h4>
              <a href="{{this.link}}" target="_blank"><p>View More</p></a>
              <p>Price: {{this.price}}</p>
              <h4 class="watching">Watching!</h4>
              <form action="/unwatch/{{this.id}}" method="POST">
                <button type="submit" id="unwatch" class="btn btn-secondary" name="{{this.id}}">Unwatch</button>
              </form>
          </div>
      </div>
    </div>
    {{/if}}
  {{/each}} 
  </div>
</div>  
